/node_modules/
/lib/
/test/
custom-elements.json
# top level source
guide-steps.dev.js
guide-steps.js
guide-steps.js.map
guide-steps.d.ts
guide-steps.d.ts.map
# only generated for size check
guide-steps.bundled.js